* {
    margin: 0px;
    padding: 0px;
}

#titulo {
    font-family: sans-serif;
    color: white;
    margin-left: 7%;
}

fieldset {
    border: 0px;
    
}

#subtitulo {
    font-family: sans-serif;
    color: white;
    margin-left: 10%;
}

body {
    background-color: #153546;
    font-family: sans-serif;
    font-size: 1em;
    color: white;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button {
    border-radius: 5px;
}
.grupo {
    display: inline-flex;
    margin: 30px 0 0 0;
    padding: 30px 0 10px 0
}
.campo {
    margin-bottom: 1em;
}
.campo label {
    margin-bottom: 0.5em;
    color: white;
    display: block;
}
fieldset .grupo {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}

fieldset .campo {
    margin-right: 1em;
}
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 1em;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background-color: rgba(180, 180, 180);
}

.botao {
    font-size: 1.2em;
    background: #768997;
    border: 0px;
    margin-bottom: 1em;
    color: black;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(160, 160, 160, 160, 0,2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 85%;
    left: 47%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}
.botao:hover {
    background: #ccbbff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0,2);
    text-shadow: none;
}

.botao, select {
    cursor: pointer;
}

#check {
    display: inline-block;
    margin-bottom: 3%;
    
}